{% extends 'frontend/layout/main.html' %}
{% block content %}

<div class="min-h-screen flex items-center justify-center">
    <div class="bg-white p-8 rounded-lg shadow-lg w-full max-w-md text-center">
        <h2 class="text-2xl font-bold mb-6 text-center text-green-500">Booking Successful</h2>
        <p class="mb-6 text-gray-700">Thank you for your booking. Your reservation has been successfully confirmed.</p>
        <a href="/" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Go to Homepage</a>
    </div>
</div>

{% endblock %}
